*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: teal;
}
h1{
    background-color: greenyellow;
    text-align: center;
    width: 500px;
    border: none;
    border-radius: 30px;
    margin-left: 500px;
    margin-top: 100px;
    height: 60px;
    padding-top: 9px;
}

a {
    text-decoration: none;
    color: white;
    background-color: black;
    border: none;
    border-radius: 30px;
    margin-left: 600px;
    width: 200px;
}

